<div class="row">
    <input id="calcOutput" class="calcOutput" type="text" readonly />
</div>
<div class="row">
    <div class="col-md-12">
        <input class="normalButton" type="button" value="C" onclick="Redia.Calculator.Tools.HandleInput(this.value);" />
        <input class="normalButton" type="button" value="CE" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        <input class="normalButton" type="button" value="SQRT" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        <input class="normalButton" type="button" value="/" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <input class="normalButton" type="button" value="7" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="8" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="9" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="X" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="normalButton" type="button" value="4" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="5" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="6" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="-" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="normalButton" type="button" value="1" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="2" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="3" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
            <input class="normalButton" type="button" value="+" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <input class="normalButton" type="button" value="." onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        <input class="normalButton" type="button" value="0" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
        <input class="wideButton" type="button" value="=" onclick="Redia.Calculator.Tools.HandleInput(this.value);"/>
    </div>
</div>


